<ul class="nav nav-pills">
  <li><a href="#">About VibeData</a></li>
  <li>{{#link-to 'wacom'}}Wacom{{/link-to}}</li>
  <li>{{#link-to 'tablet'}}Tablet{{/link-to}}</li>
  <li>{{#link-to 'pressure'}}Pressure{{/link-to}}</li>
</ul>
<br>
{{outlet}}
