<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Writers</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-hover">
            <tbody>
              {{#each}}
              <tr id="writer"><td>{{#link-to 'pressurewriter' this}}{{id}}{{/link-to}}</td></tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
