<div class="row">
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title" align="center">Labels</h3>
      </div>
      <div class="panel-body">
        {{#each labels}}
        {{#link-to 'wacomlabel' this}}
        <li class="list-group-item"><span class="label label-success pull-right">{{this.repeat}}</span>{{this.id}}</li>
        {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
